<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>{{ .Site.Title }}</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/styles/agate.min.css">
</head>
<body>
  <div class="navbar-fixed">
    <nav class="red accent-3" role="navigation">
      <div class="nav-wrapper container">
        <a href="/" class="brand-logo">edzynda.com</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/">Home</a></li>
          <li><a href="https://leanpub.com/u/anonymous0KWqBbeC1178r-jrlQOcux">Books</a></li>
          <li><a href="//twitter.com/{{ .Site.Social.twitter }}" class="icon-twitter white-text" target="_blank" title="Twitter"></a></li>
          <li><a href="//github.com/{{ .Site.Social.github }}" class="icon-github white-text" target="_blank" title="Github"></a></li>
          <li><a href="//instagram.com/{{ .Site.Social.instagram }}" class="icon-instagram white-text" target="_blank" title="Instagram"></a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="parallax-container">
    <br>
    <br>
    <br>
    <br>
    <h1 class="header center white-text text-lighten-2">{{ .Site.Params.site_author }}</h1>
    <h3 class="header center white-text text-lighten-2">{{ .Site.Params.site_description}}</h3>
    <div class="parallax"><img src="/images/parallax.png"></div>
  </div>
