<div class="col s12 m3">
  <div class="row center">
      {{ partial "subscribe-form.html" . }}
  </div>
  <div class="row center">
    <div class="card">
      <div class="card-image">
        <img src="https://s3.amazonaws.com/titlepages.leanpub.com/aopinphp/hero?1456697060" class="">
      </div>
      <div class="card-stacked">
        <div class="card-action">
          <a href="https://leanpub.com/aopinphp?utm_campaign=aopinphp&utm_medium=embed&utm_source=www.edzynda.com"
            class="waves-effect waves-light btn">
            Buy Now
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
